.home-bg {
  background: linear-gradient(270deg, #3a0ca3, #4361ee, #4cc9f0, #5f0f40);
  background-size: 800% 800%;
  animation: gradientShift 15s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-out {
  opacity: 0;
  transform: translateY(20px);
}
